<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Moq" version="4.5.10" targetFramework="net461" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net461" />
  <package id="Sonneville.Utilities" version="1.19.0" targetFramework="net461" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net461" />
</packages>