<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.20.0.0" targetFramework="net451" />
  <package id="Sonneville.Utilities" version="1.0.7.0" targetFramework="net461" />
  <package id="Westwind.Utilities.Configuration" version="2.25" targetFramework="net451" />
</packages>