<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net461" />
  <package id="Ninject.Mono" version="3.0.1.13" targetFramework="net461" />
  <package id="Ninject.Mono.Extensions.ChildKernel" version="3.0.0.9" targetFramework="net461" />
  <package id="Ninject.Mono.Extensions.Conventions" version="3.0.0.10" targetFramework="net461" />
  <package id="Ninject.Mono.Extensions.Factory" version="2.1.0.15" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net461" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net461" />
</packages>