<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NDesk.Options" version="0.2.1" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net461" />
  <package id="Sonneville.Configuration" version="1.8.0" targetFramework="net461" />
  <package id="Sonneville.Utilities" version="1.14.0" targetFramework="net461" />
  <package id="Westwind.Utilities.Configuration" version="2.25" targetFramework="net451" />
</packages>